/*****************TAG SELECTIORS******************/
h1{
    color: red;
    font-size: 100px;
    text-decoration: underline dotted red;
}

/*
img{

    width: 150px;
}
*/
/*****************CLASS SELECTIORS******************/
.bacon{
    background-color: blue;   
}
.brocolli{
    background-color: red;
    width: 160px;
}
/*****************ID SELECTIORS******************/
#heading{
    color: blue;
}